@page 
@model IndexModelSH6
@{
    ViewData["Title"] = "Social Humanistica Unidad 6";
    ViewData["titulo2"]= "Formas Iniciales de la industria en Guatemala";
    ViewData["autor1"] = "Edeliberto Cifuentes Medina";
    ViewData["autor2"] = "Jorge AML";
    ViewData["Intro"] = "Introducción";
}
<h1>@ViewData["titulo2"]</h1>
<h6>@ViewData["Title"], @ViewData["autor1"]</h6>
<div class="container">
    <div class="row">
        <div class="col-sm">
        <h3>@ViewData["Intro"]</h3>
        <p>@Model.Parrafo</p>
        <p>@Model.Parrafo2</p>
        </div>
        <div class="col-sm"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
        <h2 class="T2"></h2>
        <p class="P2A"></p>
        <p class="P2B"></p>
        <p class="P2C"></p>
        <p class="P2H"></p>
        <p class="P2I"></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
        <p>En la segunda mitad del siglo 16 por las nuevas leyes impuestas en 1542 son de autoconsumo, todo esto producto de la colonización y conquista de América (oro y plata) ya que en Europa se convirtió en la reproducción del sistema de la fuerza de trabajo.</p>
        <p>Luego se exigió el control sobre la propiedad territorial esto garantizó a la oligarquía desplazarse de una zona a otra, su subsistencia en épocas de crisis.</p>
        <p>Ya que el cacao formo a ser parte de un artículo estratégico para la oligarquía, es convertido en un monopolio usando el despojo y apropiación de tierras.</p>
        <p>Los pueblos que anteriormente eran dueños de las tierras con cacao exigen a las autoridades monárquicas un incremento en la tributación. Dando el resultado la dispersión del poder para una mejora en la apropiación de riquezas (mejor distribución).</p>
        <p>Provocando el proceso de reacomodación social: Modifica la obtención de numerario y monetización de los grupos hegemónicos -> Proceso de reasignación de la fuerza de trabajo y la tierra.</p>
        <p>El proceso de independencia frustró el monopolio que se enriquecía. Provocando el surgimiento de nuevos comerciantes y de pequeños y medianos propietarios contradiciendo a la burocracia para la creación de instituciones culturales y estatales como instrumento de desarrollo social.</p>
        <p>El sistema de Corregimientos fue utilizado en Guatemala para frustrar la visión institucional que manejaban los liberadores interviniendo en la independencia. Por lo tanto consistía en: Sostener a la oligarquía a traves de los diversos tributos que se pagaban a los corregidores en la producción de grana.</p>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>





<!--When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
$$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$-->