@page 
@model IndexModelSH6
@{
    ViewData["Title"] = "Social Humanistica Unidad 6";
    ViewData["titulo2"]= "Formas Iniciales de la industria en Guatemala";
    ViewData["autor1"] = "Edeliberto Cifuentes Medina";
    ViewData["autor2"] = "Jorge AML";
    ViewData["Intro"] = "Introduccion";
}
<h1>@ViewData["titulo2"]</h1>
<h6>@ViewData["Title"], @ViewData["autor1"]</h6>
<div class="container">
    <div class="row">
        <div class="col">
        <h3>@ViewData["Intro"]</h3>
        <p>@Model.MiMensaje</p>
        <p>@Model.Parrafo1</p>
        </div>
        <div class="col"></div>
    </div>
</div>





<!--When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
$$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$-->