<!DOCTYPE html>
<html>
	<head>
		<title><%- title %></title>
		<%- include ("partials/head") %>
	</head>
	<body>
		<%- include ("partials/nav") %>
		<%- body %>
	</body>
		<%- include ("partials/javascript") %>
</html>